body {
  margin: 0px;
}
.hero {
  background-image: url('../images/yellowstone/IMG_2447b-min.jpg');
  background-size: cover;
  height: 450px;
  position: relative;
  background-repeat: no-repeat;
}
.hero .overlay {
  position: absolute;
  margin-top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.3);
  color: #fff;
  padding-left: 5px;
}
.hero .overlay p {
  text-align: left;
  font-size: 350%;
  font-family: 'Raleway', sans-serif;
  padding-top: 120px;
  padding-left: 80px;
  letter-spacing: 4px;
  line-height: 1.8;
}
a {
  color: #b9b8a4;
  text-decoration: none;
  overflow: visible;
}
li {
  list-style-type: none;
}
nav {
  padding-left: 90px;
  margin-top: -60px;
  font-family: 'Raleway', sans-serif;
}
nav a {
  color: white;
  text-decoration: none;
  padding-left: 20px;
}
nav a:hover {
  color: #00ffff;
}
nav ul li {
  display: inline-block;
}
#header {
  display: none;
}
.content {
  padding-top: 10px;
  padding-left: 25%;
  font-family: 'Raleway', sans-serif;
  background-color: #F2F1DB;
}
.web a {
  list-style-type: none;
  text-decoration: none;
}
.web p {
  color: black;
  font-family: 'Raleway', sans-serif;
}
.web img {
  position: relative;
}
#bookApp {
  object-fit: cover;
  float: left;
}

.text {
  float: right;
}
#goodearth {
  object-fit: cover;
  clear: left;
}
#philau {
  object-fit: cover;
}
#stuckinlove {

}
#all {
  clear: left;
  float: left;
}
#all a {
  color: black;
}
#graphics {
  clear: left;
}

footer {
  background: #131820;
  padding-top: 15px;
  padding-bottom: 15px;
  clear: left;
  text-align: center;
}
footer li {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
}
footer a {
  color: white;
  text-decoration: none;
  padding-left: 30px;
}
footer a:hover {
  color: #00ffff;
}
.social a:hover {
  opacity: 0.3;
}
